*

# >-----< INCLUDES >-----< #

# [+]: Git files
!.gitignore

# [+]: Repo files
!LICENSE.md
!README.md

# [+]: Source files
!public/
!public/**
!index.html

# [+]: Doc files
!docs/
!docs/**

# [+]: Config files
!.editorconfig

# >-----< EXCLUDES >-----< #

# [-]: macOS files
.DS_Store
**/.DS_Store
